section.banner
    .l-center
        .banner__cont
            h2.banner__head We Design and Develop
            .banner__text
                p
                    | We are a new design studio based in USA. We have over
                    | 20 years of combined experience, and know a thing or two
                    | about designing websites and mobile apps.
            +btn("a", "banner", "Contact us")