section.clients
    .l-center
        ul.clients__list
            li.clients__item
                cite.clients__cite
                    | “ Outstanding job and exceeded all expectations. It was a pleasure
                    | to work with them on a sizable first project and am looking
                    | forward to start the next one asap.”
                .clients__author Michael Hopkins
        ul.slider-manager__list
            li.slider-manager__item
            li.slider-manager__item
            li.slider-manager__item