section.brand
    .l-center
        ul.brand__list
            -for(var i=0; i<8; i++)
                li.brand__item
                            a.brand__link(href="#")
                                img.brand__img( src="pic/need/brand" + i + ".png" alt="brand" + i)