section.need
    .l-center
        h2.block__head Need a Project?
        .need_desc
            p
                | Let us know what you're looking for in an agency. We'll take a look and see
                | if this could be the start of something beautiful.
        form.need__form
            input.need__input.need__input_name(type="text" placeholder="Your name*" name="name")
            input.need__input.need__input_name(type="text" placeholder="Your email*" name="email")
            input.need__input(type="text" placeholder="Your Title*" name="title")
            textarea.need__input.need__input_textarea(name="comment" placeholder="Yuor comment")
            +btn("button", "need", "Send Message")
