section.work
    .l-center
        ul.work__list
            -for(var i=1; i<=8; i++)
                li.work__item
                    img.work__img(src="pic/work/"+i+".png" alt="work "+i)
        .work__load
            a.work__btn(href="#") load more work