include ../mixins/mixins
doctype
html(lang="ru-RU")
    include ../sections/head/head
    body
        .wrapper
            include ../sections/header/header
            include ../sections/banner/banner
            include ../sections/about/about
            include ../sections/skills/skills
            include ../sections/numbers/numbers
            include ../sections/work/work
            include ../sections/process/process
            include ../sections/services/services
            include ../sections/testimonials/testimonials
            include ../sections/clients/clients
            include ../sections/brand/brand
            include ../sections/need/need
        include ../sections/footer/footer